.dataTables_length,
.dataTables_filter {
    display: inline-block;
    margin-left: 1.5rem;
}
.dt-button-collection {
    width: auto !important;
    .dt-button:not(.dt-btn-split-drop) {
        min-width: 4rem !important;
    }
}
.table .col-actions {
    width: 7rem;
}